
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .items {
    display: flex;
   gap: 32px;
    list-style-type: none;
 }
 nav .items a{
     text-decoration: none;
     justify-content: center;
     align-items: center;
     font-size: 500;
     color: #000000;
     line-height: 152%;
     font-weight: 500;
 }
  nav .items a:hover{
    background-color: aquamarine;
  }
 .logo {
    padding: 16px 0px 16px 120px;
 }
 .btn{
    border: none;
    border-radius: 4px;
    background-color: #469165;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 120px;
    color: #FFFFFF;
    cursor: pointer;
 }
 .hero{
    height: 674px;
    padding: 70px 120px 134px 120px;
 }
 .hero-content {
  max-width: 1340px;
  text-align: center;
  z-index: 1;
  margin: 115.5px 120px 179.5px 120px;
 }
 .pill {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  color: #2f855a;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
}
.pill-dot {
  width: 8px;
  height: 8px;
  background-color: #2f855a;
  border-radius: 50%;
}
.hero-content h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 24px;
}
  .hero-content h1 span {
  color: #2f855a;
}
.hero-content p {
  max-width: 720px;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 1.6;
  color: #d1d5db;
}

/* Buttons */
.hero-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn1 {
  background-color: #2f855a;
  color: #ffffff;
  padding: 14px 24px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.btn2 {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  padding: 14px 24px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

}
.btn:hover,
.btn1:hover,
.btn2:hover {
    background-color: cyan;
}
.second-brain{
    display: flex;
    padding: 120px;
    gap: 60px;
}
.second-brain-description{
    margin:102px 0px;
}
.second-brain-description h4{
    color:#469165;
font-size: 16px;
font-weight: 500;
line-height: 20px;
gap:16px;
}
.second-brain-description h1{
    color: #001931;
    font-size:48px;
margin-bottom: 16px;
}
.second-brain-description p{
    color: #627382;
    font-size:16px;
    line-height: 20px;
    max-width:700px;
    height: 60px;
    margin-bottom: 40px;
}
.second-brain-description ul {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #001931;
  margin: 0px;
padding: 0px;
}
.second-brain-description ul li {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}